@import 'tailwindcss';

:root {
  --background-color: #white;
  --foreground-color: #171717;
  --primary-color: #2979ff;
  --white-color: #ffffff;
  --grey-color: #5f5f5f;
  --border-grey-color: #cfcfcf;
}

/* Dark theme */
[data-theme='dark'] {
  --background-color: #171717;
  --foreground-color: #white;
  --primary-color: #2979ff;
  --white-color: #ffffff;
  --grey-color: #acacac;
  --border-grey-color: #4e4e4e;
}

@theme {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --color-primary: var(--primary-color);
  --color-white: var(--white-color);
  --color-grey: var(--grey-color);
  --color-border-grey: var(--border-grey-color);

  --font-inter: var(--font-inter);
  --font-ibm: var(--font-ibm);
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
