@import 'tailwindcss';

:root {
  --background-color: #faf9f0;
  --foreground-color: #171717;
  --primary-color: #4f77b2;
  --white-color: #ffffff;
}

/* Dark theme */
.dark {
  --background-color: #171717;
  --foreground-color: #faf9f0;
  --primary-color: #4f77b2;
}

@theme {
  --color-background: var(--background-color);
  --color-foreground: var(--foreground-color);
  --color-primary: var(--primary-color);
  --color-white: var(--white-color);
  --font-inter: var(--font-inter);
  --font-ibm: var(--font-ibm);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--background-color);
    --foreground-color: var(--foreground-color);
  }
}

body {
  background: var(--background-color);
  color: var(--foreground-color);
  font-family: Arial, Helvetica, sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));
